
// about styles -==================

.about-text {

    margin: 70px auto;
    font-family: 'helvetica neue';
    color: white;
    width:90%;
    font-weight: 100;
    line-height: 25px;
    font-size:15px;
  

    @include desktop {
        width: 600px;

    }
}

.about-image {
    background: linear-gradient( to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ), url(../../images/blurryface.png);
    background-size:cover;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
        height:100vh;
    }
}

.about-sect {
    display:block;
}