.art-image {
     background: url(../../images/art/sonderfirstimage.jpg);
    background-size:cover;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    @include desktop {
        height:100vh;
    }
}


.artwork-flex {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 90%;
    margin: 26px auto;
  
}

.art-work1,
.art-work2, 
.art-work3, 
.art-work4, 
.art-work5, 
.art-work6, 
.art-work7, 
.art-work8,
.art-work9, 
.art-work10, 
.art-work11, 
.art-work12, 
.art-work13, 
.art-work14, 
.art-work15, 
.art-work16 {
    flex-basis: 100%;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position:relative;
    overflow:hidden;

      &:hover p {
        bottom: 0;
    }
     

    span {
        font-style:italic;
    }
    &:hover span {
        bottom: 0px;
    }

    @include desktop {
        flex-basis: 25%;
    }

p, span {
    padding: 5%;
    font-family:'helvetica neue';
    font-weight:100;
    color:white;
    background: rgba(0 ,0, 0,0.5);
     position:absolute;
     transition: 0.30s; 
     width: 100%;
    bottom: -100px;
    overflow:hidden;


//    &:nth-child(2){
//     position:absolute;
//     bottom: -100px;
//    }
}

}

.art-work1 {
    background: url(../../images/art/art1.jpg);
    background-size:cover;
}

.art-work2 {
    background: url(../../images/art/art2.jpg);
    background-size:cover;
}

.art-work3 {
    background: url(../../images/art/art3.jpg);
    background-size:cover;
}
.art-work4 {
    background: url(../../images/art/art4.jpg);
    background-size:cover;
}
.art-work5 {
    background: url(../../images/art/art5.jpg);
    background-size:cover;
}
.art-work6 {
    background: url(../../images/art/art6.jpg);
    background-size:cover;
}
.art-work7 {
    background: url(../../images/art/art7.jpg);
    background-size:cover;
}
.art-work8 {
    background: url(../../images/art/art8.jpg);
    background-size:cover;
}
.art-work9 {
    background: url(../../images/art/art9.jpg);
    background-size:cover;
}
.art-work10 {
    background: url(../../images/art/art10.jpg);
    background-size:cover;
}
.art-work11 {
    background: url(../../images/art/art11.jpg);
    background-size:cover;
}
.art-work12 {
    background: url(../../images/art/art12.png);
    background-size:cover;
}
.art-work13 {
    background: url(../../images/art/art13.png);
    background-size:cover;
}
.art-work14 {
    background: url(../../images/art/art14.png);
    background-size:cover;
}
.art-work15 {
    background: url(../../images/art/art15.png);
    background-size:cover;
}
.art-work16 {
    background: url(../../images/art/art16.jpg);
    background-size:cover;
}