body {
    background-color: black;
}

//home page styles ----------
.sect-title {
    
    width: 50%;
    text-align: center;
    font-family: arial black;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 20% auto;
    border: 1px solid pink;
    color: pink;

    @include desktop {
        width:300px;
        font-size:70px;
        margin: 0 auto;
    }
}

.description {
    width: 90%;
    text-align: center;
    font-family: arial black;
    text-transform: uppercase;
    font-size: 28px;
    margin: 20px auto;
    border: 1px solid $light-grey;
    color: $light-grey;

    @include desktop {
        width:500px;
    }

}

.home-sect {
    display:block;
}
.contact-sect, .about-sect, .dev-sect, .art-sect, .des-sect, .photo-sect {
    height:0px;
    overflow:hidden;
    // margin-top: 90px;

    @include desktop {
    margin-top: 0px;
    }
}

//title and description styles -------------------------

.sect-title-contact, .sect-title-about, .sect-title-dev, .sect-title-art, .sect-title-des, .sect-title-photo {
    text-align: center;
    font-family: arial black;
    text-transform: uppercase;
    margin: 0 auto;
    border: 1px solid pink;
    color: pink;
    width: 90%;
    font-size: 4rem;

    @include desktop {
        width:400px;
        font-size:70px;
    }
}

.sect-title-art {
    width:40%;

    @include desktop {
        width:15%;
    }
}

.sect-title-dev, .sect-title-photo {
    font-size:2.2rem;
    @include desktop {
        font-size: 46px;
    }
}

.description, .description-contact, .description-about, .description-dev, .description-art, .description-des, .description-photo{
    width: 200px;
    text-align: center;
    font-family: arial black;
    text-transform: uppercase;
    font-size: 28px;
    margin: 20px auto;
    box-shadow: 3px 3px 0px 1px #ccc;
    border: 1px solid $light-grey;
    color: $light-grey;

    &:hover {
         color: darken(lightgrey, 30%);
         box-shadow: 3px 3px 0px 1px darken(lightgrey, 30%);
        
    }

}

.description-about, .description-dev {
    width:300px;
}

.description-art {
    width:250px;
}



