body {
    background-color: black;
}

//home page styles ----------
.sect-title {
    width: 300px;
    text-align: center;
    font-family: arial black;
    text-transform: uppercase;
    font-size: 70px;
    margin: 0 auto;
    border: 1px solid pink;
    color: pink;
}

.description {
    width: 500px;
    text-align: center;
    font-family: arial black;
    text-transform: uppercase;
    font-size: 28px;
    margin: 20px auto;
    border: 1px solid $light-grey;
    color: $light-grey;

}

.home-sect {
    display:block;
}
.contact-sect {
    height:0px;
    overflow:hidden;
    margin-top: -100px;
}

//contact page styles -------------------------

.sect-title-contact {
    width: 400px;
    text-align: center;
    font-family: arial black;
    text-transform: uppercase;
    font-size: 70px;
    margin: 0 auto;
    border: 1px solid pink;
    color: pink;
}

.description-contact {
    width: 200px;
    text-align: center;
    font-family: arial black;
    text-transform: uppercase;
    font-size: 28px;
    margin: 20px auto;
    border: 1px solid $light-grey;
    color: $light-grey;

}

.social-media {
    display:flex;
    
    margin: 0 auto;
  

    ul {
    list-style: none;
    padding:0;
    margin: 4% auto;
    width: 260px;
    display:flex;
    text-align:center;

    li {
        font-weight: 100;

        &:nth-child(1) {
            margin-left:10px;

            @include desktop {
            margin-left:11px;
        }
        }
        
        i {
            font-size:70px;
            color:white;

             &:hover {
                color: lighten( $pink-font-color,  50%);
        }

        }

        a {
            text-decoration:none;
        }
        span {
            color: white; 
            font-family: "helvetica";
            font-weight: 100;
            text-decoration: none;
            margin-left:10px;
        
        }
    }
    }
}

// css transitions 


span {
    overflow: hidden;
    list-style: none;
    white-space:nowrap;
    margin-right: 10px;
    border-radius: 25px;
    display: inline-block;
}
   span {
        opacity: 0;
        color: #666;
        max-width: 0;
        display: inline-block;
        text-decoration: none;
        transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
    }
       

  
        li:hover span {
            opacity: 1;
            max-width: 150px;
            transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
        }


