

.des-work1, .des-work2, .des-work3 {

    height:250px;
    width:250px;
    border-radius:50%;
    background-color:red;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    position:relative;
    display:flex;

    p {
    bottom: 120px;
    left: 20px;
    position: absolute;
    font-family:helvetica;
    font-weight:100;
    }
}

.des-image {
    background-color:white;
    width: 90%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
        height:400px;
    }
}

.des-examples {
    display:flex;
    width:80%;
    justify-content:space-between;
    margin:10% auto;
}