/*fonts*/
@font-face {
    font-family: 'Novocento';
    src: url('../../fonts/Novecentosanswide-Normal.ttf');
    src: url('../../fonts/Novecentosanswide-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}