/*header styles*/

.nytlogo {
    margin-top: 7rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    padding: 2rem;


    @include tablet {
        margin-left: 30%;
        margin-top: 4rem;
        display: flex;
        flex-flow: row wrap;
    }        
        
    @include desktop {
        margin-left: 5%;
    }
}

.logo {
    height: 50vh;

    @include tablet {
        height: 50vh;
    }

    @include desktop {
        height: 50vh;
    }
}

.newLogo {
    height: 75px;

    @include tablet {
        height: 75px;
        margin-top: 2rem;
    }

    @include desktop {
        height: 75px;
        margin-top: 0rem;
    }
}

.newLogoDiv {
    margin-top: 0rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column wrap;

    @include tablet {
        flex-flow: row wrap;
    }

    @include desktop {
        flex-flow: row wrap;
    }
}

h2{
    margin: 1rem;
}

.choose {
    margin-bottom: 1rem;
    font-family: "open_sanslight";
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mySelect {
    width: 100%;
    align-self: center;
}

.loader {
    height: 2rem;
    width: 2rem;
    margin: 2rem;
    align-self: center;
    display:none;
}