header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 66px;
    width:90px;
}

.menu {
    margin: 3%;

    @include desktop {
        margin: 5%;
    }
   
   
    li {
    font-family:'helvetica';
    height: 0px;
    text-align:center;
    overflow:hidden;
    color: $light-grey;
    font-weight: 100;

       &:hover {
                color: darken(lightgrey, 30%);
        }
        
    }
}

.name {
    margin: 5%;
    margin-top:10%;

    @include desktop {
        margin-top: 7%;
    }

    p {
    font-family:'helvetica'; 
     color:$light-grey;
     font-weight: 100;
    }
}