.photo-image {
    background: linear-gradient( to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100% ), url(../../images/photohero.jpg);
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size:cover;
    @include desktop {
        height:100vh;
    }
}

.photo-work1, .photo-work2, .photo-work3 {
    height:400px;
    width: 250px;
    margin:5% auto;
    display:flex;
    justify-content: flex-end; 
    flex-direction:column;

    p {
        font-family:'helvetica neue';
        font-weight:100;
        color:white;
        padding: 150% 5% 5% 5%;
    }

    a {
        text-decoration:none;
    }

}

.photo-examples {
    display:flex;
    flex-flow:column wrap;
    width:90%;
    margin: 0 auto;

    @include desktop {
        flex-flow:row nowrap;
        width:50%;
    }
}

.photo-work1 {
    background: url(../../images/headshot.png);
    background-size:cover;

    @include desktop {
    width:233%;
}
}

.photo-work2 {
    background: url(../../images/landscape.png);
    background-size:cover;
    display:none;
}

.photo-work3 {
    background: url(../../images/experimental.png);
    background-size:cover;
    display:none;
}
.photo-text {
    font-family:'helvetica neue';
    color:pink;
    text-align:center;
    font-weight:100;
   
     margin: 11% 16% 150px 9%;
  
}