.photo-image {
    background: url(../../images/photohero.jpg);
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
        height:100vh;
    }
}

.photo-work1, .photo-work2, .photo-work3 {
    height:400px;
    width: 250px;
    margin:5% auto;
    display:flex;
    justify-content: flex-end; 
    flex-direction:column;

    p {
        font-family:helvetica;
        font-weight:100;
        color:white;
        padding: 150% 5% 5% 5%;
    }

}

.photo-examples {
    display:flex;
    flex-wrap:wrap;
}

.photo-work1 {
    background: url(../../images/headshot.png);
    background-size:cover;
}

.photo-work2 {
    background: url(../../images/landscape.png);
    background-size:cover;
}

.photo-work3 {
    background: url(../../images/experimental.png);
    background-size:cover;
}